    
body { background-image:url("fundo.png");
    border:0px;
    margin:20px auto;
   }
    h1 {color:black ;
        text-align:left;}
    h4 {color:black;
        margin-right:220px;
        text-align: center;}
    
    p {color:black;
        text-align:justify;
        margin-right:220px;}
    .link{margin-right:180px;
        margin-top: -30px;
        text-align:right;}
           

